
@{
    ViewData["Title"] = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <h2>Hesabınız onaylanmıştır.</h2>
    <p>Giriş yapmak için tıklayınız
     <a href="/Account/Login" class="btn btn-default" style="background-color:#181818; color:#f5f5f5;">Giriş Yap</a>
    </p>
</div>


