
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <p><a href="/Admin/List" class="btn btn-warning">Kategori Listesi</a></p>
    <hr />
    <p><a href="/Admin/UserList" class="btn btn-warning">Kullanıcı Listesi</a></p>
    <hr />
    <p><a href="/Admin/FileList" class="btn btn-warning">Dosya Listesi</a></p>
    <hr />
    <p><a href="/Admin/Waitforapproval" class="btn btn-warning">Onay Bekleyenler</a></p>
</div>

