<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Üniversite Not Sistemi">
    <meta name="description" content="Bu uygulama sayesinde üniversite öğrencileri ders notlarına daha kolay ve pratik bir şekilde ulaşabiliyor.">
    <meta name="robots" content="all" />
    <meta name="keywords" content="Üniversite not, notelib, nootelib, notelibrary, ders notu, vize,final,çıkmış sorular,Erciyes Üniversitesi,Bilgisayar Mühendisliği" />

    <title>NoteLibrary</title>
    <link rel="shortcut icon" href="~/images/Emojii.png" />
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/blog-home.css" rel="stylesheet" />
    <link href="~/package/dist/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124086708-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124086708-2');
    </script>
    <style>
        /*@@media screen and (max-width: 500px) {
            .navbar-brand img {
                content: url('https://firebasestorage.googleapis.com/v0/b/training-7ba91.appspot.com/o/files%2F263a9a28-0191-4bbf-e787-d2d2a0bf00bb?alt=media&token=fcf51241-5b21-40e3-81cb-3078e1a42888');
                height: 25px;
                width: 80px;
            }

            #SearchInput {
                width: 200px;
            }
        }

        @@media screen and (min-width: 500px) {
            .navbar-brand img {
                content: url('https://firebasestorage.googleapis.com/v0/b/training-7ba91.appspot.com/o/files%2F1684adb7-e1bb-24e7-63a8-a40507d59095?alt=media&token=56ea5565-f8f4-4dd9-8cf6-efe4742ea2fb');
                width: 200px;
            }
        }*/
    </style>
    <!-- PopMyAds.com Popunder Code for nootelib.com -->
    @*<script type="text/javascript" data-cfasync="false">var _0x551b = ['\x69\x6e\x73\x65\x72\x74\x42\x65\x66\x6f\x72\x65', '\x34\x38\x38\x30\x33', '\x68\x6f\x6c\x65\x78\x6b\x6e\x77\x2e\x6c\x6f\x61\x6e', '\x63\x72\x65\x61\x74\x65\x45\x6c\x65\x6d\x65\x6e\x74', '\x73\x63\x72\x69\x70\x74', '\x74\x79\x70\x65', '\x74\x65\x78\x74\x2f\x6a\x61\x76\x61\x73\x63\x72\x69\x70\x74', '\x61\x73\x79\x6e\x63', '\x2f\x2f\x68\x6f\x6c\x65\x78\x6b\x6e\x77\x2e\x6c\x6f\x61\x6e\x2f\x7a\x2f\x38\x33\x31\x36\x33\x36\x39\x36\x36', '\x70\x61\x72\x65\x6e\x74\x4e\x6f\x64\x65']; (function (_0x257c06, _0x4cf9bb) { var _0x2b52bd = function (_0x58c098) { while (--_0x58c098) { _0x257c06['push'](_0x257c06['shift']()); } }; _0x2b52bd(++_0x4cf9bb); }(_0x551b, 0x19b)); var _0x2a69 = function (_0x6163be, _0x1d7edd) { _0x6163be = _0x6163be - 0x0; var _0x4318c2 = _0x551b[_0x6163be]; return _0x4318c2; }; var pmauid = '\x35\x32\x37\x39\x33'; var pmawid = _0x2a69('0x0'); var fq = '\x30'; var pma_dom = _0x2a69('0x1'); (function () { var _0x36e577 = document[_0x2a69('0x2')](_0x2a69('0x3')); _0x36e577[_0x2a69('0x4')] = _0x2a69('0x5'); _0x36e577[_0x2a69('0x6')] = !![]; var _0x3adad4 = document['\x67\x65\x74\x45\x6c\x65\x6d\x65\x6e\x74\x73\x42\x79\x54\x61\x67\x4e\x61\x6d\x65']('\x73\x63\x72\x69\x70\x74')[0x0]; _0x36e577['\x73\x72\x63'] = _0x2a69('0x7'); _0x3adad4[_0x2a69('0x8')][_0x2a69('0x9')](_0x36e577, _0x3adad4); }());</script>*@
    <!-- PopMyAds.com Popunder Code End -->
</head>



<body style="background-color:#F5F5F5;">

    <nav class="navbar navbar-expand-lg  navbar-dark  fixed-top sticky-top" style="background-color:#181818; margin-top:-65px;">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <img src="~/images/nootelib_golgesiz.png" style="width:200px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:#F5F5F5;" href="/Home">
                            Anasayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;" href="/Account/Register">Kaydol</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;" href="/Account/Login">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;" href="/Home/Contact">İletişim</a>
                    </li>

                </ul>

            </div>
        </div>


    </nav>





    @RenderBody()
    <!-- Footer -->
    <footer class="py-5" style="background-color:#181818; color:#f5f5f5;">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Hakkımızda</h5>
                        <p>Erciyes Üniversitesi Bilgisayar Mühendisliği öğrencileri tarafından yapılmıştır.</p>
                        &copy; Kayten Academy
                    </div>
                    <div class="col-md-4">
                        <h5>Platformlar</h5>
                        <p>Yakın zamanda sizlerle olmasını planlıyoruz.</p>
                        <a href="#" class="text-white"><i class="fab fa-android"> Android</i></a>

                        <a href="#" class="text-white"><i class="fab fa-apple"> IOS</i></a>
                    </div>
                    <div class="col-md-4">
                        <h5>Geliştiriciler Hakkında</h5>
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/ensar-eray-akkaya-25a032155/" class="text-white"><i class="fab fa-linkedin"> Ensar Eray Akkaya</i></a>
                            <br />
                            <a href="https://www.linkedin.com/in/alperen-arici-4a4a74154/" class="text-white"><i class="fab fa-linkedin"> Alperen Arıcı</i></a>
                            <br />
                            <a href=" https://www.linkedin.com/in/alperen-%C3%BCnal-706a73154/" class="text-white"><i class="fab fa-linkedin"> Alperen Ünal</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <p class="m-0 text-center">Copyright &copy; NoteLibrary <b>2019</b></p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    @*<script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <!-- Bootstrap core JavaScript -->
    @*<script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>






