
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="card mb-3">
        <img src="~/images/Dersler.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">NooteLib</h5>
            <p class="card-text">Biz birkaç Erciyes Üniversitesi Bilgisayar Mühendisliği öğrencisiyiz. Amacımız vize, final veya büt zamanı not sıkıntısı çeken bizlerin veya arkadaşlarımızın işlerini kolaylaştırmak. Bu siteye hizmetinize sunarak hem sizlere ders notlarına daha kolay erişim sağlamak hemde kendi programlama yeteneğimizi geliştirmek. Sizlerden tek dileğimiz elinizde bulunan notları sitemizde paylaşarak bizlere destek olmanız. Sitemizin kullanımı tamamen ücretsiz ve kolaydır. Eğer sistemimizde bir eksik saptarsanız bizlere geri bildirimde bulunmanız bizi mutlu eder. Umarız sitemiz sizler için faydalı ve kullanışlı olur. eğitim hayatınızda sizlere başarılar dileriz...</p>

        </div>
    </div>
</div>



