@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>User Home page</h2>
<hr />
<h2>Index  / <a href="/Account/Profile"> Profile</a></h2>
<h2>  / <a href="/Account/Logout"> Logout</a></h2>