
@{
    ViewData["Title"] = "ErrorPage";
}
<div class="container">
    <h1>Hata</h1>
    <hr />
    <h2>Lütfen Bilgilerinizi Doğru ve Eksiksiz Girdiğinize Emin Olun !!</h2>
    <h3><a href="Contact">Tekrar Denemek İçin</a></h3>
</div>