@model IEnumerable<NoteLibrary.Models.Entities.File>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top:10px; margin-bottom:10px;">
    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="row">
            <div class="input-group">

                <div class="col-md-10">
                    <input type="text" class="form-control" name="SearchString" placeholder="Aramak istediğiniz dersin adını giriniz" aria-label="Text input with segmented dropdown button">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="col-md-12 btn btn-primary"   value="Ara" />
                </div>


            </div>
        </div>
    </form>
</div>

<div class="container">

    <div class="row">


        @foreach (var item in Model)
        {
            <!-- Blog Entries Column -->
            <div class="col-md-4">
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h4>
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Ders Notunu İncele</a>
                    </div>
                </div>
            </div>

        }



    </div>
</div>